.footer {
  color: #545454;
  margin-left: auto;
  max-width: 880px;
  margin-right: auto;
  width: 100%;
}

.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  height: 18px;
}

@media screen and (max-width: 282px) {
  .footer {
    margin-bottom: 36px;
  }
}
