.header {
  margin-top: 45px;
  border-bottom: 1px solid rgb(84 84 84 / 0.7);
  padding-bottom: 41px;
  /* margin-bottom: 41px; */
  max-width: 880px;
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 320px) {
  .header {
    margin-top: 36px;
    padding-bottom: 32px;
    padding-left: 27px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    top: 28px;
    left: 27px;
  }
}
