.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}

.card__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/heart.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  flex-shrink: 0;
  cursor: pointer;
}

.card__like-button_is-active {
  background-image: url(../images/Active\ heart\ .svg);
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* .card__like-button_liked {
  background: transparent url(../images/Active\ heart\ .svg) center no-repeat;
  background-color: none;
} */

.card__delete-button {
  background: transparent url(../images/trashCan.svg) center no-repeat;
  z-index: 10;
  background-size: contain;
  width: 18px;
  height: 19px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
}
