.footer {
  color: #545454;
  margin-left: auto;
  max-width: 920px;
  margin-right: auto;
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
}

.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  padding-bottom: 60px;
  margin: 0;
}

@media screen and (max-width: 400px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 16.94px;
    padding-bottom: 36px;
    /* margin-left: auto; */
  }
}
