.header {
  border-bottom: 1px solid rgb(84 84 84 / 0.7);
  padding: 0;
  /* margin-bottom: 41px; */
  max-width: 100%;
  margin: 0;
}

.header__image {
  padding: 0 0 40px;
  margin: 0;
}

@media screen and (max-width: 320px) {
  /*.header {
    margin-top: 36px;
    padding-bottom: 32px;
    padding-left: 27px;
  }*/

  .header__image {
    width: 126px;
  }

  @media screen and (max-width: 620px) {
    .header {
      width: 100%;
    }

    .header__image {
      padding: 0 0 32px 27px;
    }
  }
}
