.page {
  background-color: black;
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 880px;
  margin: 45px auto;
  padding: 0 15px 0;
}

@media screen and (max-width: 620px) {
  .page__content {
    padding: 0;
    margin: 28px auto;
  }

  .content {
    margin: 0 15px;
  }
}